@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Permanent";
    src: url("./assets/fonts/permanent-regular.otf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Permanent";
    src: url("./assets/fonts/permanent-italic.otf");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Permanent";
    src: url("./assets/fonts/permanent-medium.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Permanent";
    src: url("./assets/fonts/permanent-mediumitalic.otf");
    font-weight: 500;
    font-style: italic;
  }

